        body {
            font-size: 1.4em;
            line-height: 1.4;
        }
        
        #output {
            text-align: center;
            font-size: 36px;
            color: red;
        }
        
        p {
            background-color: red;
            color: aquamarine;
        }
        
        .one {
            color: aqua;
            background-color: black;
        }
        
        .sty1 {
            padding: 10px;
            border: 2px solid blue;
        }
        
        .sty2 {
            padding: 9px;
            border: 2px solid red;
        }
        
        #mybox {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            background-color: darkorange;
        }
        
        #container {
            max-width: 1140px;
            margin: 0 auto;
        }
        
        #output {
            border: 1px black solid;
        }
        
        #content {
            float: left;
            width: 61%;
            background: #fff;
            border-bottom: 20px solid #000000;
            padding: 0 2%;
        }
        
        #sidemenu {
            float: right;
            width: 31%;
            background: #ccc;
            border-bottom: 20px solid #000000;
            padding: 0 2%;
        }
        
        #sidemenu ul {
            margin: 0;
            padding: 0;
        }
        
        #sidemenu li {
            list-style-type: none;
            display: block;
            background: #ddd;
            width: 100%;
            padding: 3px 0;
        }
        
        #sidemenu ul a {
            text-decoration: none;
            color: steelblue;
        }
        
        #sidemenu li:hover {
            background: #000;
        }
        
        .header-container {
            border-bottom: 20px solid #000000;
        }
        
        .footer-container {
            float: none;
            width: 100%;
            clear: both;
            margin: 0 auto;
            background: #ddd;
            text-align: center;
        }
        
        nav {
            background-color: #333;
            margin: 0;
            overflow: hidden;
            width: 100%;
        }
        
        nav ul {
            margin: 0;
            padding: 0;
        }
        
        nav ul li {
            list-style-type: none;
            display: inline-block;
            width: 150px;
        }
        
        nav a {
            display: block;
            margin-bottom: 10px;
            padding: 15px 0;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: white;
            background: #222;
        }
        
        nav a:hover {
            background-color: #000;
        }
        
        #contact-form {
            background-color: #dfdfdf;
            padding: 20px;
            margin: 20px auto;
            border: 1px solid #000000;
        }
        
        #contact-form textarea {
            height: 200px;
            width: 300px;
        }
        
        #contact-form label {
            display: block;
        }
        
        #contact-form input,
        #contact-form textarea {
            font-size: 16px;
            margin-bottom: 5px;
        }
        
        @media (max-width:1100px) {}
        
        @media (max-width:980px) {}
        
        @media (max-width:480px) {
            #container {
                width: 480px;
            }
            #content {
                clear: both;
                width: 96%;
            }
            #sidemenu {
                clear: both;
                width: 96%;
            }
            nav ul li {
                width: 100%;
                margin-bottom: 0;
            }
            nav a {
                text-align: left;
            }
        }