<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="csrf-token" th:content="${_csrf.token}"/>
    <title>Jq2 One</title>

    <link rel="stylesheet" th:href="@{/fontawesome/all.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap-grid.min.css}" type="text/css"/>
    <!--cause error in executing css javascript, later verify that. conflict with 'bootstrap.min.js' -->
    <!--    <script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.bundle.min.js}" type="text/javascript"></script>-->
</head>
<body>

<h1>This is Ajax Project</h1>

<div id="posts">

</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="../ajx2/ajx2_3.js"></script>
</body>
</html>