<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!--    show web page responsive on mobile phones-->
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap-grid.min.css}" type="text/css"/>

</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{'/images/ShopmeAdminSmall.png'}"/>
            </a>
            <button class="navbar-toggler" data-target="#topNavbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categotries}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/productss}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">Sales Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>

<div class="container-fluid">
    <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>
    </div>

    <form method="post" style="max-width: 700px; margin: 0 auto" th:action="@{/users/save}" th:object="${user}"
          onsubmit="return checkEmailUnique(this)">
        <input th:field="*{id}" type="hidden"/>
        <div class="border birder-secondary rounded p-3">
            <!--            m-2 mean margin equal 2-->
            <div class="row">
                <!--                sm mean responsive in small screen, 4 mean width of column is 4-->
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input class="form-control m-2" maxlength="128" minlength="8" required th:field="*{email}"
                           type="email"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input class="form-control m-2" maxlength="45" minlength="2" required th:field="*{firstName}"
                           type="text"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input class="form-control m-2" maxlength="45" minlength="2" required th:field="*{lastName}"
                           type="text"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input class="form-control m-2" maxlength="20" minlength="8"
                           required th:field="*{password}" th:if="${user.id == null}" type="password"/>

                    <input class="form-control m-2" maxlength="20" minlength="8"
                           th:field="*{password}" th:if="${user.id != null}" type="password"/>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-4 col-form-label">Roles:</label>
                <div class="col-sm-8">
                    <th:block th:each="role :  ${listRoles}">
                        <input class="m-2" th:field="*{roles}" th:text="${role.name}"
                               th:value="${role.id}" type="checkbox"/> - <small>[[${role.description}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input class="m-2" th:field="*{enabled}" type="checkbox"/>
                </div>
            </div>


            <div class="text-center">
                <input class="btn btn-primary m-3" type="submit" value="Save"/>
                <input class="btn btn-secondary" id="buttonCancel" type="button" value="Cancel"/>
            </div>
        </div>
    </form>

    <div class="modal fade" id="modalDialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonCancel").on("click", function () {
            window.location = "[[@{/users}]]";
        });
    });

    function checkEmailUnique(form) {
        url = "[[@{/users/check_email}]]";
        userId = $("#id").val();
        userEmail = $("#email").val();
        // _csrf is hidden field activated when adding spring security, we should send it by request
        csrf = $("input[name='_csrf']").val();
        params = {id: userId, email: userEmail, _csrf: csrf};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated") {
                showModalDialog("Warning", "There is another user having the email " + userEmail);
            } else {
                showModalDialog("Error", "Unknown response from server ");
            }
            //    fail for when cannot connect tot the server
        }).fail(function () {
            showModalDialog("Error", "Could not connet to the server ");
        });
        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal('show');
    }

    function closeDialog(element) {
        var modalID = element.parentNode.parentNode.getAttribute("id");
        var modal = document.getElementById(modalID);
        modal.style.display = "none";
    }
</script>
</body>
</html>