/*procedure to make footer stick to button page: 1 to 4 */

/*1-dedicate the height to 100% */
html, body {
    height: 100%;
}

/*2-make the body flex*/
/*turn the children of body (divs,mains,footers) in to columns*/
body {
    display: flex;
    flex-direction: column;
}

/*3-turn main to flex, HEADER=1 MAIN=0 (mean 100%) FOOTER=auto*/
main {
    flex: 1 0 auto;
}

/*4-stick the footer to the bottom of page*/
footer {
    flex-shrink: 0;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
}

.singleCol {
    max-width: 750px;
}

/*style for tag footer*/
footer {
    background-color: #3a3a3a;
    color: white;
}

/*change the link color in footer, the default in bootstrap is blue*/
footer a {
    color: white;
}

/*change the link color in footer, when mouse is over the icon*/
footer a:hover {
    color: #dfdfdf;
}

/*  when the width of picture is less than 767 pixel (for mobile)
    then set the vertical high 30 pixel
*/
@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }

}